@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Assistant:300,400,600,700');
html, body{
	width:100%;
	height:100%;
	font-family:"Assistant";
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-rendering: optimizeLegibility;
	letter-spacing: .1px;
		
}
div{
	box-sizing:border-box;
}
a{
	text-decoration: none;
}
.comment{
	position:absolute;
	top:20px;
	font-size:18px;
	color:#7B7B7B;
	width:100%;
	text-align: center;
}
.bg{
	width:100%; height:100%; background:#000;
}
.phone{
	width:100%;
	height:100%;
	max-width:375px;
	max-height: 812px;
	background:#fff;
	margin: 0 auto;
	position:relative;
	top:50%;
	transform:translateY(-50%);
	overflow:hidden;
}
.next_btn{
	position:absolute;
	right:0;
	height:100%;
	width:80px;
	border:0px solid #ccc;
	z-index:999;
}
.prev_btn{
	position:absolute;
	left:0;
	height:100%;
	width:80px;
	border:0px solid #ccc;
	z-index:999;
}
.screenwrapper{
	width:100%;
	position:relative;
	margin:0 auto;
	
}
.center{
		transform:translateY(-50%);
	top:50%;
}
.top_onboarding{
	top:68px;
}
.sectitle{
	font-weight: 300;
	color:#969696;
	text-align:center;
	width:100%;
	font-size:30px;
	margin-bottom:60px;
}
.name{
	font-weight:400;
}
.titleimg{
	width:255px;
	max-width:100%;
	margin: 0 auto 74px;
	
	
}
.greyccl{
	width:255px;
	max-width:100%;
	height:255px;
	border:10px solid #ededed;
	border-radius:128px;
}
.button{
	width:90%;
	color:#fff;
	font-size:16px;
	font-weight:500;
	padding: 18px 0;
	text-align: center;
	margin:22px auto ;
	max-width:255px;
	border-radius:128px;
	
}

.dark{
	background:#969696;
}
.light{
	background:#c1c1c1;
}
.deactive{
	opacity:0;
	display:none;
	transition:.3s;
}

/*firstsc*/
.card_row{
	width:300%;
	position:relative;
	left:0;
	transition:.3;
}
.card_wrapper{
	width:33%;
	padding:60px 37.5px 0;
		display:inline-block;
}
.onboardcard{
	background:#c4c4c4;
	height:400px;
	width:100%;
	border-radius: 15px;
	text-align: center;
	padding:60px 30px 0;

	
	
}
.onboardcard img{
	width:80%;
	display: block;
	margin:0 auto 50px;
}
.explanation{
	font-size:16px;
	line-height: 1.5;
	color:#000;
	font-weight: 400;
}
.wrap_nav-dot{
	margin:30px auto;
	width:100%;
	text-align: center;
}
.nav-dot{
	width:15px;
	height:15px;
	margin:0 4px;
	border-radius:8px;
	border:2px solid #c4c4c4;
	display: inline-block;
	transition:.3s;
}
.wrap_nav-dot .active{
		background:#c4c4c4;
}

/*sc3*/
.rndbtn_wrapper{
position:relative;
	width:310px;
	margin:80px auto 14px;
	height:140px;
}
.rnd_button{
	width:88px;
	border-radius:50px;
	color:#fff;
	font-size: 24px;
	line-height: 1;
	padding:32px 0;
	text-align:center;
	position:absolute;
}

.rndbtn_wrapper .dark:before{
	content:"";
	width:100px;
	height:100px;
	z-index:-1;
	top:-9px;
	left:-9px;
	border:3px solid #909090;
	position:absolute;
	border-radius:60px;
}

.rndbtn_wrapper .light:before{
	content:"";
	width:100px;
	height:100px;
	z-index:-1;
	top:-9px;
	left:-9px;
	border:3px solid #a9a9a9;
	position:absolute;
	border-radius:60px;
}
.start{
	right:0;
}
.timeset{
	height:276px;
	width:100%;
	border-top:10px solid #c0c0c0;
	border-bottom:10px solid #c0c0c0;
	display:flex;
	flex-direction: row;
	overflow:hidden;
	padding:0 30px;
	justify-content: center;
}
.timeunit{
	margin:0 20px;
	width:76px;
	font-size:20px;
	font-weight:400;
	color:#c0c0c0;
	display:flex;
	flex-direction: row;
	position:relative;
	align-items: center;

}
.timeunit .active{
	font-weight:600;
	color:#969696;
}
.timenum{
	margin:0 3px 0 28px;
	width:auto;
	font-weight:600;
}
.timeunit ul{
	position: absolute;
	text-align: center;
	list-style: none;
	display:flex;
	flex-direction: column;
	left:0;
	top:0;
	padding-left:0;
	font-size:23px;
}
.timeunit li{
	cursor: pointer;
}
#hr, #min, #sec{
	top:50%;
	transform:translateY(-37px);
}
/*sc4*/
.timer{
	width:276px;
	height:276px;
	border:10px solid #e5e5e5;
		border-radius:138px;
	margin:0 auto;
	position:relative;
	padding:0;
}
.settime{
	position:absolute;
	text-align:left;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	font-size:60px;
	color:#969696;
	font-weight: 600;
}
.circle{
	height:280px;
	width:280px;
	margin:0 auto;
	top:-11px;
	left:50%;
	transform:translateX(-50%) rotateY(-180deg) rotateZ(-90deg);
	position:absolute;
}
circle{
	
stroke-dasharray: 840px;
stroke-dashoffset: 0px;
	stroke:#969696;
	stroke-width:10px;
	fill:none;
	animation: countdown linear forwards;
}

@keyframes countdown {
	from{
		stroke-dashoffset:0px;
	}
  to {
    stroke-dashoffset:840px;
  }
}